<div class="hero-unit">
  <h1>Welcome to Biff's House of Meat!</h1>
  <p>Where the meat's fresh or your money back!</p>
  <p>
    <a class="btn btn-primary btn-large">
      Sign Up
    </a>
    <a class="btn btn-primary btn-large">
      Login
    </a>
  </p>
</div>