<div class="new_session">
  <div class="row visible-phone">
    <div class="span4 offset4 well">
      <%= render 'sign_in' %>
    </div>
  </div>
  <div class="well center_panel hidden-phone">
    <%= render 'sign_in' %>
  </div>
</div>
