<%= form_for(@item.build_order(item_id: @item.id)) do |f| %>
  <div><%= f.hidden_field :item_id %></div>
  <%= f.submit t('.buy_button', :item_type => t(@item.item_type)), class: "btn btn-inverse" %>
<% end %>