<% provide(:title, 'Create new item') %>

<h2>Create new item</h2>

<div>
  <%= form_for(@item) do |f| %>
    <%= render 'fields', f: f %>
    <br/>
    <%= f.submit "Create Item", class: "btn btn-medium btn-primary" %>
  <% end %>
</div>
