<% provide(:title, t('.title')) %>

<h2><%= t '.title' %></h2>

<div>
  <%= simple_form_for(@item, :html => { :class => 'form-vertical' }) do |f| %>
    <%= render 'fields', f: f %>
    <%= f.submit t('.submit'), :class => 'btn btn-inverse' %>
  <% end %>
</div>
