@import "bootstrap";

body {
  font-family: "Arial","Helvetica",sans-serif;
  padding: 60px;
  background-color: #DFDFDF;
}

p {
  font-size: larger;
}

.home {
  text-align: center;
  p {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  a {
    margin: 10px;
    width: 80px;
  }
  .center_panel {
    margin: 0px auto;
    max-width: 540px;
  }
}

.heading {
  font-family: Verdana, Geneva, sans-serif;
  font-size: xx-large;
  padding-top: 20px;
  padding-bottom: 20px;
}

.new_session {
  text-align: center;
  .sign_in {
    text-align: left;
    .email, .password {
      width: 90%;
    }
  }
}

.registration {
  text-align: center;
  .register {
    text-align: left;
    .string, .email, .password, .password_confirmation {
      width: 90%;
    }
  }
}

.dashboard_items {
  list-style: none;
  text-align: center;
  .dashboard_item {
    text-align: left;
  }
}

.trade_items {
  list-style: none;
  text-align: center;
  p {
    padding-top: 20px;
  }
  .trade_sidebar {
    text-align: left;
  }
  .trade_heading {
    padding-top: 20px;
    a {
      text-decoration: none;
      color: black;
    }
    a:link {
      text-decoration: none;
      color: black;
    }
    a:visited {
      text-decoration: none;
      color: black;
    }
    a:hover {
      text-decoration: none;
      color: black;
    }
    a:active {
      text-decoration: none;
      color: black;
    }
  }
  .trade_item {
    background-color: #F0F0F0;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
    .seller {
      color: #989898;
      padding-top: 5px;
    }
    .created_at {
      text-align: right;
    }
    .price {
      text-align: right;
      color: #228b22;
    }
  }
}

.well {
  margin-left: 0px;
  background-color: #E9E9E9;
}

.navbar-brand {
  img {
    height: 23px;
  }
}

.reset-center {
  margin-left: auto;
  margin-right: auto;
  float: none;
}
