@import "bootstrap";
@import "_bootstrap-responsive.scss";

body {
  padding: 60px;
  background-color: #DFDFDF;
}

p {
  font-size: larger;
}

.dashboard_items {
  list-style: none;
  text-align: center;
  .dashboard_item {
    text-align: left;
  }
}

.trade_items {
  list-style: none;
  text-align: center;
  .trade_item {
    text-align: left;
  }
}

.well {
  background-color: #E9E9E9;
}
