@import "bootstrap";

body {
  padding: 60px;
  background-color: #DFDFDF;
}

#container {
  max-width: 540px;
  margin: 0px auto;
  position: relative;

}

.dashboard_items {
  list-style: none;
}

.well {
  background-color: #E9E9E9;
}